@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject UserManager<ApplicationUser> userManager
@{ 
    var user = await userManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Questionaire</title>

    <environment names="Development">
        <link href="~/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
        <link class="main-stylesheet" href="~/pages/css/themes/light.css" rel="stylesheet" type="text/css" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
        <link class="main-stylesheet" href="~/pages/css/themes/light.css" rel="stylesheet" type="text/css" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="fixed-header menu-pin">
    @if (!User.Identity.IsAuthenticated)
    {
        <nav class="page-sidebar" data-pages="sidebar">
            <div class="sidebar-header">
                <img src="~/assets/img/logo.png" alt="logo" class="brand" width="78" height="22">
            </div>

            <div class="sidebar-menu">

                <ul class="menu-items">
                    <li class="m-t-30 ">
                        <a asp-action="Index" asp-controller="Home" class="detailed">
                            <span class="title">Home</span>
                            <span class="details">Dashboard</span>
                        </a>
                        <span class="icon-thumbnail"><i data-feather="home"></i></span>
                    </li>
                    <li class="">
                        <a asp-action="Login" asp-controller="Account" class="detailed">
                            <span class="title">Login</span>
                            <span class="details">Login to your account</span>
                        </a>
                        <span class="icon-thumbnail"><i data-feather="user"></i></span>
                    </li>
                    <li class="">
                        <a asp-action="Register" asp-controller="Account" class="detailed">
                            <span class="title">Register</span>
                            <span class="details">Don't have an account?</span>
                        </a>
                        <span class="icon-thumbnail"><i data-feather="user"></i></span>
                    </li>
                    <li class="">
                        <a asp-action="Login" asp-controller="Account" class="detailed">
                            <span class="title">Questionaire</span>
                            <span class="details">Take questionaire</span>
                        </a>
                        <span class="icon-thumbnail"><i data-feather="book"></i></span>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

        </nav>

        <div class="page-container">
            <div class="header">
                <a href="#" class="btn-link toggle-sidebar d-lg-none pg pg-menu" data-toggle="sidebar">
                </a>
                <div class="">
                    <div class="brand inline">
                        <img src="~/assets/img/logo.png" alt="logo" width="78" height="22">
                    </div>
                    <a href="#" class="search-link d-none d-lg-inline-block d-xl-inline-block" data-toggle="search"><i class="pg-search"></i>Type anywhere to <span class="bold">search</span></a>
                </div>
                <div class="d-flex align-items-center">
                    <div class="dropdown pull-right d-lg-inline-block d-none">
                        <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="thumbnail-wrapper d32 circular inline">
                                <img src="~/assets/img/default.jpg" alt="" width="32" height="32">
                            </span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                            <a asp-action="Login" asp-controller="Account" class="dropdown-item"><i class="fa fa-sign-in"></i> Login</a>
                            <a asp-action="Register" asp-controller="Account" class="dropdown-item"><i class="fa fa-sign-in"></i> Register</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content-wrapper">
                <div class="content">
                    @RenderBody()
                </div>
            </div>
        </div>


    }
    else
    {
        <nav class="page-sidebar" data-pages="sidebar">
            <div class="sidebar-header">
                <img src="~/assets/img/logo.png" alt="logo" class="brand" width="78" height="22">
            </div>

            <div class="sidebar-menu">

                <ul class="menu-items">
                    <li class="m-t-30 ">
                        <a asp-action="Index" asp-controller="Home" class="detailed">
                            <span class="title">Home</span>
                            <span class="details">Dashboard</span>
                        </a>
                        <span class="icon-thumbnail"><i data-feather="home"></i></span>
                    </li>
                    <li class="">
                        <a asp-action="Login" asp-controller="Account" class="detailed">
                            <span class="title">Account</span>
                            <span class="details">Manage your account</span>
                        </a>
                        <span class="icon-thumbnail"><i data-feather="user"></i></span>
                    </li>
                    <li class="">
                        <a asp-action="Login" asp-controller="Account" class="detailed">
                            <span class="title">Questionaire</span>
                            <span class="details">Take questionaire</span>
                        </a>
                        <span class="icon-thumbnail"><i data-feather="book"></i></span>
                    </li>
                    <li class="">
                        <a asp-action="Logout" asp-controller="Account" class="detailed">
                            <span class="title">Logout</span>
                            <span class="details">Take questionaire</span>
                        </a>
                        <span class="icon-thumbnail"><i class="pg-power"></i></span>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

        </nav>

        <div class="page-container">
            <div class="header">
                <a href="#" class="btn-link toggle-sidebar d-lg-none pg pg-menu" data-toggle="sidebar">
                </a>
                <div class="">
                    <div class="brand inline">
                        <img src="~/assets/img/logo.png" alt="logo" width="78" height="22">
                    </div>
                    <a href="#" class="search-link d-none d-lg-inline-block d-xl-inline-block" data-toggle="search"><i class="pg-search"></i>Type anywhere to <span class="bold">search</span></a>
                </div>
                <div class="d-flex align-items-center">
                    <div class="pull-left p-r-10 fs-14 font-heading d-lg-inline-block d-none m-l-20">
                        <span class="semi-bold">@user.FirstName</span> <span class="text-master">@user.LastName</span>
                    </div>
                    <div class="dropdown pull-right d-lg-inline-block d-none">
                        <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="thumbnail-wrapper d32 circular inline">
                                <img src="~/assets/img/default.jpg" alt="" width="32" height="32">
                            </span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                            <a href="#" class="dropdown-item"><i class="fa fa-user-circle"></i> Feedback</a>
                            <a href="#" class="dropdown-item"><i class="pg-settings"></i> Settings</a>
                            <a href="#" class="dropdown-item"><i class="pg-signals"></i> Help</a>
                            <a asp-action="Logout" asp-controller="Account" class="clearfix bg-master-lighter dropdown-item">
                                <span class="pull-left">Logout</span>
                                <span class="pull-right"><i class="pg-power"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content-wrapper">
                <div class="content">
                    @RenderBody()
                </div>
            </div>
        </div>
    }
    <environment names="Development">
        <script src="~/assets/plugins/feather-icons/feather.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/popper/umd/popper.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
        <script src="~/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script type="text/javascript" src="~/assets/plugins/select2/js/select2.full.min.js"></script>
        <script type="text/javascript" src="~/assets/plugins/classie/classie.js"></script>
        <script src="~/assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>



        <script src="~/pages/js/pages.js"></script>


        <script src="~/assets/js/scripts.js" type="text/javascript"></script>



        <script src="~/assets/js/scripts.js" type="text/javascript"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/assets/plugins/feather-icons/feather.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/popper/umd/popper.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
        <script src="~/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script type="text/javascript" src="~/assets/plugins/select2/js/select2.full.min.js"></script>
        <script type="text/javascript" src="~/assets/plugins/classie/classie.js"></script>
        <script src="~/assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>



        <script src="~/pages/js/pages.js"></script>


        <script src="~/assets/js/scripts.js" type="text/javascript"></script>



        <script src="~/assets/js/scripts.js" type="text/javascript"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
